:root {
  --primary-color: #fff;
  --dark-blue: #0f1b26;
  --sunny-color: #f9a65a;
  --font-primary: "Roboto Mono", monospace;
}

body {
  font-family: var(--font-primary);
  background-color: var(--dark-blue);
}

p {
  font-size: 20px;
}

h1 {
  font-size: 35px;
}

.weather {
  background-image: url("./sky.jpg");
  background-size: 550px, auto;
  border: 2px solid var(--sunny-color);
  border-radius: 5px;
  width: 550px;
  height: 100%;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-color);
}

.container {
  max-width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 12px;
  background-color: var(--dark-blue);
  opacity: 0.5;
  margin: 20px;
  color: var(--sunny-color);
  font-weight: 700;
}

.bold {
  margin-top: 0;
  font-weight: 500;
}

.search {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

.search input {
  background-color: var(--dark-blue);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--sunny-color);
  color: var(--sunny-color);
}
